.bar {
    position: relative;
    top: 0px;
    border: none;
    height: 7px;
    background: #58585A;
}
.logoContainer{
    width: 300px;
}

.logo {
    width: 10%;
    height: auto;
    position: absolute;
    top: 9px;
    right: 90px;
}
